@{
    ViewBag.Title = "aboutUs";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
            <h2>Get to know us!</h2>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Challange Area =================-->
<section class="challange_area p_101">
    <div class="container" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
        <div class="row">
            <div class="col-lg-6">
                <div class="challange_text_inner">                   
                        <h2>Koolay Accounting Software</h2>                     
                        <p>
                            SMEs' financial processes, income and expenses more effectively, easier and safer. We are working non-stop to ensure that they manage it in the right way. With our programs that we have developed with <strong>100% domestic and national resources,</strong> we can only provide our users with computers within the company.
                            computer, tablet and mobile phone wherever there is internet or online. We offer you the opportunity to manage your financial data and track your income and expenses. By developing a fast sales program, e-transformation (e-invoice, e-archive invoice, e-waybill, e-producer) program, personnel tracking program, marketplace integration and technical service program that works
                        </p>
                </div>
            </div>
            <div class="col-lg-6 challange_img">
                <div class="challange_img_inner">
                    <img class="img-fluid" style="border-radius:1em" src="~/img/koolay-ekip-foto.jpg" alt="">
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-12 ">
                <div class="text-2">
                    <p>
                        integrated with the Pre-Accounting programs in line with the needs of SMEs. offered to our users. Koolay offers its customers the opportunity to switch to e-invoice and e-archive invoice within the scope of the e-transformation package. Bilsoft will continue to offer innovative solutions to its users by combining the skills and experience it has gained so far with today's trends.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Challange Area =================-->
<!--================Testimonials Slider Area =================-->
<section class="testimonials_area">
    <div class="container">
        <div class="testimonials_slider owl-carousel">
            <div class="item">
                <div class="testi_item">
                    <h3>“Perfect!”</h3>
                    <p>
                        Your staff provides extremely fast service regarding the system. In this way
                        We carry out our operations without interruption. Those who want to get information while using the program
                        I can be a reference for companies in this regard.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Luke Harris</h4>
                            <h5>Business Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“Success!”</h3>
                    <p>
                        I'm new to your program and have had no problems. technical after purchase
                        The availability and support of service services is extremely good. program
                        I am pleased with your interest after the sale.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Morgan Gray</h4>
                            <h5>Business Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“The best!”</h3>
                    <p>Your friends are very involved. I can reach whenever I want and I don't have any problems.</p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Andrew Miller</h4>
                            <h5>Business Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“Excellent!”</h3>
                    <p>
                        We can access data instantly from anywhere we want. It has many advantages for our business.
                        Thanks Bilsoft Software.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Nelson Rogers</h4>
                            <h5>Business Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Slider Area =================-->
<!--================We Are Company Area =================-->
<section class="we_company_area p_100">
    <div class="container">
        <div class="row company_inner">
            <div class="col-lg-6 align-self-center">
                <div class="left_company_text">
                    <div class="l_title">
                        <h2>We will continue to offer you innovative solutions.</h2>
                    </div>
                    <p>
                        Koolay combines the skills and experience it has gained so far with today's trends, will continue to offer innovative solutions to its users. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="company_skill">
                    <div class="our_skill_inner">
                        <div class="single_skill">
                            <h3>Customer Service / Call Center</h3>
                            <div class="progress" data-value="90">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">15</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Sales</h3>
                            <div class="progress" data-value="91">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">16</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Marketing</h3>
                            <div class="progress" data-value="88">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">14</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Technical support</h3>
                            <div class="progress" data-value="90">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">15</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Software</h3>
                            <div class="progress" data-value="80">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">10</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>