@{
    ViewBag.Title = "blogEn";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
} 
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
            <h2>Blog</h2>
            <p>Read the news</p>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Blog Main Area =================-->
<section class="blog_main_area p_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog_main_inner">
                    <div class="blog_main_item" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
                        <div class="blog_img">
                            <img class="img-fluid" src="~/img/blog/tips-for-succes-in-e-commerce.jpg" alt="">
                        </div>
                        <div class="blog_text">
                            <a href="/Koolay/ecommerce"><h4>Tips for Success in e-Commerce</h4></a>
                            <div class="blog_date">
                                <a>01.01.2022</a>
                                <a></a>
                            </div>
                            <p>With its advanced logistics and supply chain advantages, e-commerce has almost completely eliminated national borders. It has also brought a new breath to the entrepreneurship sector. Here are top tips for entrepreneurs who want to get involved in e-commerce: </p>
                            <a class="more_btn" href="/Koolay/ecommerce">Read More</a>
                        </div>
                    </div>
                    <div class="blog_main_item">
                        <div class="blog_img">
                            <img class="img-fluid" src="~/img/blog/how-to-sell-clothing-online.jpg" alt="">
                        </div>
                        <div class="blog_text">
                            <a href="/Koolay/online_clothing_sales"><h4>How to sell clothing online?</h4></a>
                            <div class="blog_date">
                                <a>15.12.2021</a>
                                <a></a>
                            </div>
                            <p>We will discuss what you need when you start e-commerce and what you can focus on to increase your sales once you start e-commerce. The market capacities of people exposed to e-commerce are increasing day by day and their sales are increasing rapidly. According to some sources, those who sell clothes online are defined as those with the highest income. Well, let's see how to sell clothes on the Internet.</p>
                            <a class="more_btn" href="/Koolay/online_clothing_sales">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
                    <aside class="r_widget categories_widget">
                        <div class="r_w_title">
                            <h3>Categories</h3>
                        </div>
                        <ul>
                            <li><a href="/Koolay/ecommerce">ecommerce</a></li>
                            <li><a href="#">accounting</a></li>
                        </ul>
                    </aside>                    
                    <aside class="r_widget tag_widget">
                        <div class="r_w_title">
                            <h3>Tags</h3>
                        </div>
                        <ul>
                            <li><a href="#">entrepreneurship</a></li>
                            <li><a href="#">pre-accounting </a></li>
                            <li><a href="#">sales</a></li>
                            <li><a href="#">integration</a></li>
                            <li><a href="#">ecommerce</a></li>
                            <li><a href="#">free</a></li>
                        </ul>
                    </aside>
                    <aside class="r_widget quote_widget">
                        <div class="r_w_title">
                            <h3>Quote</h3>
                        </div>
                        <img src="img/icon/quote-icon.png" alt="">
                        <p>Koolay combines the skills and experience it has gained so far with today's trends, will continue to offer innovative solutions to its users.</p>
                    </aside>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination_area">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="/Koolay/blogEn">1</a></li>
                
            </ul>
        </nav>
    </div>
</section>
<!--================End Blog Main Area =================--> 