@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
            <h2>Blog</h2>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Blog Main Area =================-->
<section class="blog_main_area p_100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog_main_inner">
                    <div class="blog_main_item" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
                        <div class="blog_img">
                            <img class="img-fluid" src="~/img/eticarette_basarili_olmanın_yollari.jpg" alt="">
                        </div>
                        <div class="blog_text">
                            <a href="/Koolay/eticaret"><h4>e-Ticarette Başarılı Olmanın Püf Noktaları</h4></a>
                            <div class="blog_date">
                                <a>01.01.2022</a>
                                <a></a>
                            </div>
                            <p>Gelişmiş lojistik ve tedarik zinciri avantajlarıyla e-ticaret, ulusal sınırları neredeyse tamamen ortadan kaldırmıştır. Girişimcilik sektörüne de yeni bir soluk getirmiştir. İşte e-ticarete dahil olmak isteyen girişimciler için başlıca ipuçları: </p>
                            <a class="more_btn" href="/Koolay/Eticaret">Daha Fazla</a>
                        </div>
                    </div>
                    <div class="blog_main_item">
                        <div class="blog_img">
                            <img class="img-fluid" src="~/img/blog/blog-2.jpg" alt="">

                        </div>
                        <div class="blog_text">
                            <a href="/Koolay/internetten_giyim_satisi_nasil_yapilir"><h4>İnternetten Giyim Satışı Nasıl Olur?</h4></a>
                            <div class="blog_date">
                                <a>15.12.2021</a>
                                <a></a>
                            </div>
                            <p>E-ticarete başladığınızda neye ihtiyacınız olduğunu ve e-ticarete başladıktan sonra satışlarınızı artırmak için nelere odaklanabileceğinizi tartışacağız. E-ticarete maruz kalan kişilerin pazar kapasiteleri her geçen gün artmakta ve satışları hızla yükselmektedir. Bazı kaynaklara göre internet üzerinden kıyafet satanlar en yüksek gelire sahip olanlar olarak tanımlanıyor. Peki, internette nasıl kıyafet satılacağını görelim.</p>
                            <a class="more_btn" href="/Koolay/internetten_giyim_satisi_nasil_yapilir">Daha Fazla</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="blog_right_sidebar" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
                    <aside class="r_widget categories_widget">
                        <div class="r_w_title">
                            <h3>Kategoriler</h3>
                        </div>
                        <ul>
                            <li><a href="#">ön muhasebe</a></li>
                            <li><a href="/Koolay/eticaret">eticaret</a></li>
                        </ul>
                    </aside>
                    <aside class="r_widget tag_widget">
                        <div class="r_w_title">
                            <h3>Tags</h3>
                        </div>
                        <ul>
                            <li><a href="#">girişimcilik</a></li>
                            <li><a href="#">ön muhasebe </a></li>
                            <li><a href="#">satış</a></li>
                            <li><a href="#">entegrasyon</a></li>
                            <li><a href="#">eticaret</a></li>
                            <li><a href="#">ücretsiz</a></li>
                        </ul>
                    </aside>
                    <aside class="r_widget quote_widget">
                        <div class="r_w_title">
                            <h3>Quote</h3>
                        </div>
                        <img src="img/icon/quote-icon.png" alt="">
                        <p>Koolay, bugüne kadar edindiği beceri ve tecrübeyi günümüz trendleriyle birleştirerek, kullanıcılarına yenilikçi çözümler sunmaya devam edecek.</p>
                    </aside>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" class="pagination_area">
            <ul class="pagination">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>

            </ul>
        </nav>
    </div>
</section>
<!--================End Blog Main Area =================--> 