@{
    ViewBag.Title = "features";
    Layout = "~/Views/Shared/_LayoutEn.cshtml";
}    
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
            <h2>Features</h2>
            <!-- <p>See what we do best</p> -->
            <p>Solutions to Make Your Business Advance</p>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
@*<section id="feature" class="feature service_feature">
    <div class="container">
        <div id="carikart">
            <div class="row ">

                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Account Tracking</h2>
                    </div>
                    <div class="icon-box">                        
                        <p class="description">You can get current account statement, collective current report and current account report by defining unlimited current account cards and groups.</p>
                    </div>

                </div>
            </div>
        </div>
        <div id="stoktakip">
            <div class="row">
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Inventory Tracking</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">Unlimited stock card definitions are made. You can also automatically define barcodes and print barcode labels (single or batch) for non-barcode and weight products.</p>
                    </div>
                </div>
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div id="raporlamasistemi">
            <div class="row">
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Reporting System</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            Account statement of current cards, collective current report etc.
                            You can get warehouse movements, stock lists report, collective stock report and stock movements, current transactions as well as all sales, profit-loss analysis, sales graph, check-note and end of day report.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="faturamodulu">
            <div class="row">
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Invoice</h2>
                    </div>
                    <div class="icon-box">
                        <h3 class="title">Issuing Purchase, Sales and Return Invoices</h3>
                        <p class="description">
                            Standard and weighted products, invoice the waybill, detailed buying, selling and sending invoices, testing invoices
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div id="taksittakip">
            <div class="row">
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Payment Tracking</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            Automatic installment, can easily make collection and payment transactions and you can get a detailed installment report.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="bankatakip">
            <div class="row">
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Bank Tracking</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            With the ability to enter bank transactions, you can report bank transactions in detail and define unlimited bank accounts.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div id="ceksenet">
            <div class="row">
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Check-Bid Tracking</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            You can define unlimited check-notes and change the payment/collection status of checks. You can get a detailed report between two dates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="kasatakip">
            <div class="row">
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>Cash Flow Tracking</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            You can make your payments and collections from the safe and transfer them to the bank. You can see the remaining balance in the safe,
                            You can get detailed reports between two dates.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
        <div id="kullaniciarayuz">
            <div class="row">
                <div class="col-lg-6 video-box justify-content-center" style="display:flex">
                    <img src="~/img/account-tracking.jpg" class="img-fluid" />
                </div>
                <div class="col-lg-6  d-flex flex-column justify-content-center about-content">
                    <div class="section-title">
                        <h2>User Interface</h2>
                    </div>
                    <div class="icon-box">
                        <p class="description">
                            Access can be made from multiple computers.
                            Each user is added, edited, deleted and authorized.
                            You can add your companies and branches. You can connect from anywhere with internet.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>*@

<section class="service_feature">
        <div class="container" data-scroll-reveal="enter bottom move 40px over 0.6s after 0.5s">
            <div class="row feature_inner"> 
                <div id="carikart" class="col-lg-4 col-sm-6">
                    <div class="feature_item">
                        <div class="f_icon">
                            <img src="~/img/icon/iconCariKart.svg" />
                        </div>
                        <h4>ACCOUNT TRACKING</h4>
                        <ul>
                            <li><span>✔</span> Unlimited current account card and group definition</li>
                            <li><span>✔</span> Concubine stocked-out of stock sales</li>
                            <li><span>✔</span> Ability to make payments and collections from the concubine safe</li>
                            <li><span>✔</span> Current debit and credit transactions</li>
                            <li><span>✔</span> Collection and payment receipt</li>
                            <li><span>✔</span> Receiving current account statement, collective current report and current account report</li>
                        </ul>
                    </div>
                </div>
                <div id="stoktakip" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconStokTakip.svg" alt="">
                    </div>
                    <h4>INVENTORY TRACKING</h4>
                    <ul>
                        <li><span>✔</span> Unlimited card definition</li>
                        <li><span>✔</span> Automatic barcode identification for non-barcode products</li>
                        <li><span>✔</span> Automatic barcode identification for weight products</li>
                        <li><span>✔</span> Define inventory group and unit</li>
                        <li><span>✔</span> Barcode label printing (single or batch)</li>
                        <li><span>✔</span> Inter-warehouse transfer</li>
                    </ul>
                </div>
            </div>
            <div id="raporlamasistemi" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconRaporlamaSistemi.svg" alt="">
                    </div>
                    <h4>REPORTING SYSTEM</h4>
                    <ul>
                        <li><span>✔</span> Account statement of current cards, collective current report etc.</li>
                        <li><span>✔</span> Stock, warehouse movements, stock lists report, etc.</li>
                        <li><span>✔</span> Sales, profit-loss analysis, sales chart, check-note and end-of-day report</li>
                        <li><span>✔</span> Collective stock report and stock movements, current account report</li>
                        <li><span>✔</span> Receiving warehouse movements report</li>
                    </ul>
                </div>
            </div>
            <div id="faturamodulu" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconFaturaModulu.svg" alt="">
                    </div>
                    <h4>
                        INVOICE
                    </h4>
                    <ul>
                        <li><span>✔</span> Issuing Purchase, Sales and Return Invoices</li>
                        <li><span>✔</span> They are standard and weighted products.</li>
                        <li><span>✔</span> Convert waybill to invoice</li>
                        <li><span>✔</span> Sending detailed purchase, sales and return invoice reporting</li>
                        <li><span>✔</span> Ease of sending invoices conveniently</li>
                        <li><span>✔</span> Invoice receipt printing</li>
                    </ul>
                </div>
            </div>
            <div id="taksittakip" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconTaksitTakip.svg" alt="">
                    </div>
                    <h4>PAYMENT TRACKING</h4>
                    <ul>
                        <li><span>✔</span> Automatic installment</li>
                        <li><span>✔</span> Alerting the due installments on the main screen</li>
                        <li><span>✔</span> Making collection and payment transactions easily</li>
                        <li><span>✔</span> Getting detailed installment report</li>
                    </ul>
                </div>
            </div>
            <div id="bankatakip" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconBankaTakip.svg" alt="">
                    </div>
                    <h4>BANK TRACKING</h4>
                    <ul>
                        <li><span>✔</span> Unlimited bank account definition</li>
                        <li><span>✔</span> Ability to enter bank transactions</li>
                        <li><span>✔</span> Ability to transfer from bank to bank or bank to cashier</li>
                        <li><span>✔</span> Detailed reporting of bank movements</li>
                    </ul>
                </div>
            </div>
            <div id="ceksenet" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconCekSenet.svg" alt="">
                    </div>
                    <h4>CHECK-BID TRACKING</h4>
                    <ul>
                        <li><span>✔</span> Unlimited check-note identification</li>
                        <li><span>✔</span> Change the payment/collection status of checks</li>
                        <li><span>✔</span> Detailed reporting between two dates</li>
                    </ul>
                </div>
            </div>
            <div id="kasatakip" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconKasaTakip.svg" alt="">
                    </div>
                    <h4>CASH FLOW TRACKING</h4>
                    <ul>
                        <li><span>✔</span> Making payments and collections from the cash register</li>
                        <li><span>✔</span> See the remaining balance in the safe</li>
                        <li><span>✔</span> Ability to transfer from cash to bank</li>
                        <li><span>✔</span> Detailed reporting between two dates</li>
                    </ul>
                </div>
            </div>
            <div id="kullaniciarayuz" class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconKullaniciArayuz.svg" alt="">
                    </div>
                    <h4>USER INTERFACE</h4>
                    <ul>
                        <li><span>✔</span> Access from multiple computers</li>
                        <li><span>✔</span> Authorize each user by adding, editing, deleting and reporting operations</li>
                        <li><span>✔</span> Ability to define company information</li>
                        <li><span>✔</span> Branch identification</li>
                        <li><span>✔</span> Being able to start independently of the place wherever there is internet</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </section>

<!--================Circle Chart Area =================-->
<section class="circle_chart_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="circle_progress circular style-polygon" data-percentage="94" data-thickness="3"
                     data-reverse="true" data-empty-fill="transparent" data-start-color="#276b88"
                     data-end-color="#7acaff">
                    <div class="circle_progress_inner">
                        <strong></strong>
                        <span class="percentage"></span>
                        <h4>Customer Happiness</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="circle_progress circular style-polygon" data-percentage="83" data-thickness="3"
                     data-reverse="true" data-empty-fill="transparent" data-start-color="#276b88"
                     data-end-color="#7acaff">
                    <div class="circle_progress_inner">
                        <strong></strong>
                        <span class="percentage"></span>
                        <h4>Creativity</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="circle_progress circular style-polygon" data-percentage="80" data-thickness="3"
                     data-reverse="true" data-empty-fill="transparent" data-start-color="#276b88"
                     data-end-color="#7acaff">
                    <div class="circle_progress_inner">
                        <strong></strong>
                        <span class="percentage"></span>
                        <h4>Good luck</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="circle_progress circular style-polygon" data-percentage="95" data-thickness="3"
                     data-reverse="true" data-empty-fill="transparent" data-start-color="#276b88"
                     data-end-color="#7acaff">
                    <div class="circle_progress_inner">
                        <strong></strong>
                        <span class="percentage"></span>
                        <h4>Development</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Circle Chart Area =================-->
<!--================Service Solution Area =================-->
<section class="service_solution_area p_100">
    <div class="container">
        <div class="row s_solution_inner">
            <div class="col-lg-6">
                <div class="s_solution_item">
                    <div>
                        <img src="~/img/icon/title-icon-2.png" alt="">
                        <h2>F.A.Q</h2>
                    </div>
                    <!-- <p></p> -->
                    <div id="accordion" role="tablist" class="solution_collaps">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseOne"
                                       aria-expanded="false" aria-controls="collapseOne">
                                        Can I use the program on the computer I want outside the office?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>Yeah. You can use the program from anywhere with an internet connection.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                        Can multiple users login at the same time?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yeah. You can log in to the program at the same time as the number of users you have purchased.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree"
                                       aria-expanded="false" aria-controls="collapseThree">
                                        Can I see information entered by other users?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yeah. All users can collaborate on the program. All entered information is displayed simultaneously
                                        in the program.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour"
                                       aria-expanded="false" aria-controls="collapseFour">
                                        Is the information I enter into the program stored on my computer?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        The program works completely online through a central server, based on the internet.
                                        The information you enter into the program is saved on the central server, not on your local computer.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapFive"
                                       aria-expanded="false" aria-controls="collapseFive">
                                        Will my data be damaged if my computer crashes or is infected?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        No. There will be no harm to your information in the program. Program data is kept on the central server, not on your computer.
                                        Therefore, problems on your computer do not affect your data.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSix">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseSix"
                                       aria-expanded="false" aria-controls="collapseSix">
                                        Can I increase the number of users later?
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Yeah. For example, you can upgrade the program you bought with 3 users to 5 users later.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Service Solution Area =================-->
<script src="~/Scripts/js/popper.min.js"></script>    