@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
            <h2>Bizi Tanıyın</h2>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Challange Area =================-->
<section class="challange_area p_101">
    <div class="container" data-scroll-reveal="enter right move 40px over 0.6s after 0.5s">
        <div class="row">
            <div class="col-lg-6">
                <div class="challange_text_inner">                     
                        <h2>Koolay Ön Muhasebe Programı</h2>                    
                    <p>
                        KOBİ'lerin finansal süreçlerini, gelir giderlerini daha etkin, daha kolay ve daha güvenli
                        şekilde yönetmelerini sağlamak amacıyla durmadan çalışıyoruz. <strong>%100 yerli ve milli</strong> imkânlarla
                        geliştirdiğimiz programlarımızla kullanıcılarımıza sadece firma içindeki bilgisayarlardan
                        veya çevrimiçi olarak internetin olduğu her yerde bilgisayar, tablet ve cep telefonu üzerinden finansal verilerini yönetme ve gelir giderlerini takip etme imkânı sunuyoruz.
                        KOBİ'lerin ihtiyaçları doğrultusunda Ön Muhasebe programlarına entegre şekilde çalışan hızlı satış programı, e-dönüşüm (e-fatura, e-arşiv fatura, e-irsaliye, e-müstahsil) programı, personel takip programı, pazar yeri entegrasyonu ve teknik servis programı geliştirerek kullanıcılarımıza sunduk.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 challange_img">
                <div class="challange_img_inner">
                    <img class="img-fluid" style="border-radius:1em" src="~/img/koolay-ekip-foto.jpg" alt="">
                </div>
            </div>
            @*<div class="col-lg-6 challange_img align-self-end">
            <div class="challange_img_inner ">
                <div class="c_video pozisyon">
                    <a>
                        <div>
                            <iframe style="border-radius: 20px;" width="475" height="390"
                                    src="https://www.youtube.com/embed/1vvppHhiLA8" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </a>
                </div>
            </div>
        </div>*@
        </div><br />
        <div class="row">
            <div class="col-lg-12 ">
                <div class="text-2">
                    <p>
                         Koolay, müşterilerine e-dönüşüm paketi kapsamında e-faturaya geçiş ve e-arşiv faturaya geçiş imkanı sunmaktadır. Bugüne kadar elde ettiği yetenek ve tecrübeleri bugünün trendleri ile birleştirerek, kullanıcılarına yenilikçi çözümler sunmaya devam edecektir.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Challange Area =================-->
@*<section class="container" style="margin-bottom:100px;">
        <div class="c_video" style="text-align: center;">
            <a class="popup-youtube" href="https://www.youtube.com/watch?v=PZqjvlGXbeE">
                <div>
                    <img src="img/icon/video-icon.png" alt="">

                    <iframe style="border-radius: 40px;" width="300" height="150"
                        src="https://www.youtube.com/embed/PZqjvlGXbeE" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <img src="img/image2.png" alt="" style="width: 40%;">
            </a>
        </div>
    </section>*@
<!--================Testimonials Slider Area =================-->
<section class="testimonials_area">
    <div class="container">
        <div class="testimonials_slider owl-carousel" data-scroll-reveal="enter left move 40px over 0.6s after 0.5s">
            <div class="item">
                <div class="testi_item">
                    <h3>“Harikasınız!”</h3>
                    <p>
                        Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede
                        işlemlerimizi aksamadan gerçekleştiriyoruz. Programı kullanım aşamasında bilgi almak isteyen
                        firmalara bu konuda referans olabilirim.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Doğan Şen</h4>
                            <h5>İşletmeci</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“Mükemmelsiniz!”</h3>
                    <p>
                        Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik
                        servis hizmetlerinin ulaşılabilirliği ve desteği son derece iyi. Programı
                        sattıktan sonraki ilginizden memnunum.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Mehmet Duran</h4>
                            <h5>İşletmeci</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“En İyisi!”</h3>
                    <p>Arkadaşlarınız çok ilgili. İstediğim zaman ulaşabiliyorum ve hiç sıkıntı yaşamıyorum.</p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Cem Çakır</h4>
                            <h5>İşletmeci</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="testi_item">
                    <h3>“Çok Memnunum!”</h3>
                    <p>
                        İstediğimiz her yerden verilere anında ulaşabiliyoruz. İşletmemiz için avantajı çok.
                        Teşekkürler Bilsoft Yazılım.
                    </p>
                    <div class="media">
                        <div class="d-flex">
                        </div>
                        <div class="media-body">
                            <h4>Ferhat Öztürk</h4>
                            <h5>İşletmeci</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Testimonials Slider Area =================-->
<!--================We Are Company Area =================-->
<section class="we_company_area p_100">
    <div class="container">
        <div class="row company_inner">
            <div class="col-lg-6 align-self-center">
                <div class="left_company_text">
                    <div class="l_title">
                        <h2>Sizlere yenilikçi çözümler sunmaya devam edeceğiz.</h2>
                    </div>
                    <p>
                        Koolaybooks, bugüne kadar elde ettiği yetenek ve tecrübeleri bugünün trendleri ile birleştirerek,
                        kullanıcılarına yenilikçi çözümler sunmaya devam edecektir.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="company_skill">
                    <div class="our_skill_inner">
                        <div class="single_skill">
                            <h3>Müşteri Hizmetleri / Çağrı Merkezi</h3>
                            <div class="progress" data-value="90">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">15</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Satış</h3>
                            <div class="progress" data-value="91">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">16</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Pazarlama</h3>
                            <div class="progress" data-value="88">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">14</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Teknik Destek</h3>
                            <div class="progress" data-value="90">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">15</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="single_skill">
                            <h3>Yazılım</h3>
                            <div class="progress" data-value="80">
                                <div class="progress-bar">
                                    <div class="progress_parcent"><span class="counter">10</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End We Are Company Area =================--> 