@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--================Slider Area =================-->
<section class="main_slider_area">
    <div id="p1"></div>
    <div id="main_slider" class="rev_slider " data-version="5.3.1.6">
        <ul>
            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                data-param9="" data-param10="" data-description="">
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box mobil ">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['400','400','400','250','180','180']"
                         data-fontsize="['60','60','60','50','50','30']"
                         data-lineheight="['82','82','82','62','62','42']" data-width="['none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        Tamamen Ücretsiz<br />Ön Muhasebe Programı
                    </div>

                    <div class="tp-caption tp-resizeme second_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['575','575','575','400','320','300']"
                         data-fontsize="['20','20','20','18','16','14']"
                         data-lineheight="['30','30','30','26','26','26']"
                         data-width="['none','none','none','none','none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        Basit arayüzü sayesinde kolay kullanılabilir, çok<br /> fazla  işlem karmaşası gerektirmeyen, yaptığınız<br /> işlemlerin
                        detaylı raporunu alabileceğiniz<br /> bir programdır.  <br />
                    </div>

                    <div class="tp-caption tp-resizeme" data-x="['left','left','left','left','15','center']"
                         data-hoffset="['0','80','80','0']" data-y="['top','top','top','top']"
                         data-voffset="['670','670','670','480','370','350']" data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="more_btn down" href="/Koolay/index#best_3d_area">KEŞFEDİN</a>
                    </div>
                    <div class="tp-caption tp-resizeme single_img"
                         data-x="['right','right','right','right','right','right']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['180','180','180','180','0']"
                         data-fontsize="['65','65','60','40','25']" data-lineheight="['75','75','75','50','35']"
                         data-width="['485','485','485','485','485']" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']" />
                    <img src="~/img/home-slider/kooolay-pc.png" />
                </div>
            </li>
            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                data-param9="" data-param10="" data-description="">
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['400','400','400','250','180','180']"
                         data-fontsize="['60','60','60','50','50','30']"
                         data-lineheight="['82','82','82','62','62','42']" data-width="['none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        Tamamen Ücretsiz<br />Ön Muhasebe Programı
                    </div>
                    <div class="tp-caption tp-resizeme second_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['575','575','575','400','320','300']"
                         data-fontsize="['20','20','20','18','16','14']"
                         data-lineheight="['30','30','30','26','26','26']"
                         data-width="['none','none','none','none','none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        İster bilgisayarınıza kurun ister web sitesinden <br />zahmetsizce erişin.
                        Responsive tasarımı sayesinde<br /> mobil ve tabletten yönetmek artık çok kolay.
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="['left','left','left','left','15','center']"
                         data-hoffset="['0','80','80','0']" data-y="['top','top','top','top']"
                         data-voffset="['670','670','670','480','370','350']" data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="more_btn down" href="/Koolay/index#best_3d_area">KEŞFEDİN</a>
                    </div>
                    <div class="tp-caption tp-resizeme single_img"
                         data-x="['right','right','right','right','right','right']" data-hoffset="['0','0','0','0']"
                         data-y="['top','top','top','top']" data-voffset="['180','180','180','180','0']"
                         data-fontsize="['65','65','60','40','25']" data-lineheight="['75','75','75','50','35']"
                         data-width="['485','485','485','485','485']" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        <img src="~/img/home-slider/mobilnew.png" />
                    </div>
                </div>
            </li>
            <li data-index="rs-1589" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                data-rotate="0" data-saveperformance="off" data-title="Creative" data-param1="01" data-param2=""
                data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                data-param9="" data-param10="" data-description="">
                <!-- LAYERS -->
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="slider_text_box">
                    <div class="tp-caption tp-resizeme first_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['400','400','400','250','180','180']"
                         data-fontsize="['60','60','60','50','50','30']"
                         data-lineheight="['82','82','82','62','62','42']" data-width="['none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        Tamamen Ücretsiz<br />Ön Muhasebe Programı
                    </div>
                    <div class="tp-caption tp-resizeme second_text"
                         data-x="['left','left','left','left','15','center']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['575','575','575','400','320','300']"
                         data-fontsize="['20','20','20','18','16','14']"
                         data-lineheight="['30','30','30','26','26','26']"
                         data-width="['none','none','none','none','none']" data-height="none"
                         data-whitespace="nowrape" data-type="text" data-responsive_offset="on"
                         data-transform_idle="o:1;"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        Aradığınız tüm özellikler ile
                        sizlerle!<br />Adınıza özel lisanslı ön muhasebe programı ile <br />ihtiyaçlarınızı
                        fazlasıyla karşılayacaksınız.
                    </div>
                    <div class="tp-caption tp-resizeme" data-x="['left','left','left','left','15','center']"
                         data-hoffset="['0','80','80','0']" data-y="['top','top','top','top']"
                         data-voffset="['670','670','670','480','370','350']" data-fontsize="['14','14','14','14']"
                         data-lineheight="['46','46','46','46']" data-width="none" data-height="none"
                         data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
                        <a class="more_btn down" href="/Koolay/index#best_3d_area">KEŞFEDİN</a>
                    </div>
                    <div class="tp-caption tp-resizeme single_img"
                         data-x="['right','right','right','right','right','right']" data-hoffset="['0','80','80','0']"
                         data-y="['top','top','top','top']" data-voffset="['180','180','180','180','0']"
                         data-fontsize="['65','65','60','40','25']" data-lineheight="['75','75','75','50','35']"
                         data-width="none" data-height="none" data-whitespace="normal"
                         data-type="text" data-responsive_offset="on"
                         data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                         data-textAlign="['left','left','left','left','left','center']">
                        <img src="" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<!--================End Slider Area =================-->
<!--================Feature Area =================-->
<section class="feature_area">
    <div class="container">
        <div class="c_title">
            <img src="~/img/icon/title-icon-2.png" alt="" />
            <h6>Ön Muhasebe Programı</h6>
            <!--<h2>Keşfedin!</h2>-->
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item ">
                    <div class="f_icon">
                        <img src="~/img/icon/iconGuvenliVeriDepolama.svg" alt="">
                    </div>
                    <h4>GÜVENLİ VERİ DEPOLAMA</h4>
                    <p>Bulut Veri Depolama ve Bulut Yedekleme Çözümleri ile Hizmet Sunmaktayız.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconKolayKullanim.svg" alt="">
                    </div>
                    <h4>KOLAY KULLANIM</h4>
                    <p>Rahat Tasarımı ve Ayırt Edici Özellikleriyle Kullanıcı Dostu Arayüz Sunmaktayız.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconVipTeknikDestek.svg" alt="">
                    </div>
                    <h4>VIP TEKNİK DESTEK</h4>
                    <p>Doğrudan İletişime Geçerek Öncelikli Olarak Hizmet Sağlamaktayız.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<!--================The best slider Area =================-->
<section class="best_3d_area" id="best_3d_area">
    <div class="left_3d" data-scroll-reveal="enter left move 30px over 0.4s after 0.4s">
        <div class="shap_slider_inner owl-carousel">
            <div class="item">
                <h4>“En iyisi!”</h4>
                <p>
                    Çok anlaşılır ve kolay bir muhasebe programı.En güzel yanı teknik destek
                    bir telefon ilerinizde. Harikasınız.
                </p>
                <div class="media">
                    <img src="~/img/team/people/people-5.jpg" alt="">
                    <div class="media-body">
                        <h5>Fatih Albayrak</h5>
                        <h6>İşletmeci</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4>“Başarılı!”</h4>
                <p>
                    Personelleriniz sistem ile ilgili son derece hızlı hizmet vermektedir. Bu sayede işlemlerimizi
                    aksamadan gerçekleştiriyoruz. Programı kullanım aşamasında bilgi almak isteyen firmalara bu
                    konuda referans olabilirim.
                </p>
                <div class="media">
                    <img src="~/img/comment/comment-2.png" alt="">
                    <div class="media-body">
                        <h5>Metehan Ceylan</h5>
                        <h6>İşletmeci</h6>
                    </div>
                </div>
            </div>
            <div class="item">
                <h4>“Mükemmel!”</h4>
                <p>
                    Programınıza yeni alışıyorum ve problem yaşamadım. Satın aldıktan sonra teknik servis
                    hizmetlerinin ulaşılabilirliği ve desteği son derece iyi.
                </p>
                <div class="media">
                    <img src="~/img/comment/comment-1.png" alt="">
                    <div class="media-body">
                        <h5>Derya Usta</h5>
                        <h6>İşletmeci</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right_text">
        <div class="right_text_inner">
            <div class="text_3d" data-scroll-reveal="enter top move 30px over 0.4s after 0.4s">
                <div class="l_title">
                    <img src="~/img/icon/title-icon-2.png" alt="">
                    <h6>Koolay</h6>
                    <h2>Ön Muhasebe Programı</h2>
                </div>
                <p>
                    Herhangi bir kısıtlama olmaksızın ömür boyu kullanabileceğiniz bir muhasebe programıdır.
                    Basit arayüzü sayesinde kolay kullanılabilir, çok fazla işlem karmaşası gerektirmeyen, barkod
                    desteği ile sadece müşteri, stok ve satış işlemlerini yapabileceğiniz, yaptığınız işlemlerin
                    detaylı raporunu alabileceğiniz bir programdır.
                </p>
            </div>
            <div class="shap_mobile" data-scroll-reveal="enter right move 30px over 0.4s after 0.4s">
                <img src="~/img/home-slider/koolay-mobil.png" />
            </div>
        </div>
    </div>
</section>
<!--================End The best slider Area =================-->
<!--================Feature Area =================-->
<section class="feature_area">
    <div class="container">
        <div class="c_title" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.4s">
            <img src="~/img/icon/title-icon-2.png" alt="">
            <h6>Ön Muhasebe Programı</h6>
            <h2>Özellikleri Keşfedin</h2>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconCariKart.svg" alt="">
                    </div>
                    <h4>CARİ KART MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#carikart">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconStokTakip.svg" alt="">
                    </div>
                    <h4>STOK TAKİBİ MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#stoktakip">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconRaporlamaSistemi.svg" alt="">
                    </div>
                    <h4>RAPORLAMA SİSTEMİ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#raporlamasistemi">Detaylar</a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconFaturaModulu.svg" alt="">
                    </div>
                    <h4>FATURA MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#faturamodulu">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="~/img/icon/iconKasaTakip.svg" alt="">
                    </div>
                    <h4>KASA TAKİP MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#kasatakip">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconBankaTakip.svg" alt="">
                    </div>
                    <h4>BANKA TAKİP MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#bankatakip">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconCekSenet.svg" alt="">
                    </div>
                    <h4>ÇEK-SENET TAKİBİ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#ceksenet">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconTaksitTakip.svg" alt="">
                    </div>
                    <h4>TAKSİT TAKİP MODÜLÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#taksittakip">Detaylar</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item" data-scroll-reveal="enter bottom move 30px over 0.4s after 0.3s">
                    <div class="f_icon">
                        <img src="~/img/icon/iconKullaniciArayuz.svg" alt="">
                    </div>
                    <h4>KULLANICI ARAYÜZÜ</h4>
                    <a class="more_btn" href="/Koolay/ozellikler#kullaniciarayuz">Detaylar</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
<!--================Get in Touch Area =================-->
<section id="iletisim" class="get_in_touch_area">
    <div class="container">
        <div class="row get_touch_inner " data-scroll-reveal="enter left move 40px over 0.6s after 0.3s">

            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="touch_details">
                    <div class="l_title">
                        <img src="~/img/icon/title-icon-2.png" alt="">
                        <h2>Bizi şimdi arayın!</h2>
                        <a href="tel:+902129122426">
                            <h5>(0212) 912 24 26</h5>
                        </a>
                    </div>
                    <h4>İsterseniz yazın, biz sizi arayalım.</h4>
                    <p>
                        KoolayBooks olarak hafta sonu ve resmi tatiller de dahil olmak üzere kullanıcılarımıza ihtiyaç
                        duyduğunda 7/24 teknik destek hizmeti sunmaktayız.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 align-self-center">
                <div class="contact_us_form " data-scroll-reveal="enter ease-in-out move 30px over 0.4s after 0.4s">
                    <button data-toggle="modal" style="cursor:pointer" type="button" data-target="#Modal1" class="more_btn submit_btn" id="btn-shake">BİZE ULAŞIN</button>
                </div>
                @model Koolay.Models.Email
                <div class="modal " aria-labelledby="exampleModalCenterTitle" aria-hidden="true" tabindex="-1" id="Modal1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog modal-lg vertical-align-center">
                            <div class="modal-content">                                
                                    <button type="button" class="close" style="cursor:pointer; text-align:right; padding-right:7px" data-dismiss="modal">x</button>
                                
                                <div class="modal-body">
                                    <form class="contact_us_form row php-email-form" role="form" method="post" id="contactForm">
                                        <div class="form-group col-lg-6">
                                            <input type="text" class="form-control" id="ad" name="ad" placeholder="Ad Soyad">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <input type="text" class="form-control" id="konu" name="konu" placeholder="Konu*">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <textarea class="form-control" id="mesaj" name="mesaj"  rows="1"
                                                      placeholder="Mesaj"></textarea>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <button type="button" class="btn submit_btn form-control">Gönder »</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Get in Touch Area =================-->
<!--================Map Area =================-->
<section class="world_map_area p_100">
    @*<div class="container">
        <div class="world_map_inner">
            <img class="img-fluid" src="~/img/world-map.png" alt="">
            <div class="bd-callout">
                <h3>Bilsoft Yazılım</h3>
                <p>Düzce Üniversitesi Teknopark <br />Orhangazi Mah. Teknopark Cad. No:1 Kat:2 <br />Merkez/Düzce</p>
                <h4><a href="tel:+902129122426">(0212) 912 24 26</a> <a href="mailto:destek@bilsoft.com">destek@bilsoft.com</a></h4>
            </div>
        </div>
    </div>*@
</section>
<!--================End Map Area =================--> 